$RECYCLE.BIN/
*.dirlist
*.filelist
*.frcode
*.githash
*.md5
*.md5_8k
*.pyc
*.swp
*.swp
.vscode/
Anaconda3/
Autorun.inf
Documents/
Download/
Miniconda3/
MobaXterm/
PortableApps/
Start.exe
System*
all.fileurls
all.relpaths
cd.dir
cd.txt
epoch.txt
file-catalog.json
file-catalog/
filelist.txt
fileurl.txt
hostname.txt
leading-part.txt
ls-tree.txt
path.txt
relative-paths.txt
rev-parse.txt
root.fileurl
