$RECYCLE.BIN/
*.dirlist
*.filelist
*.frcode
*.githash
*.md5_8k
*.swp
*.swp
Anaconda3/
Autorun.inf
Documents/
Download/
PortableApps/
Start.exe
cd.txt
epoch.txt
filelist.txt
fileurl.txt
hostname.txt
leading-part.txt
ls-tree.txt
path.txt
relative-paths.txt
rev-parse.txt
System*
.vscode/

